DB_PASSWORD='password'
DJANGO_SECRET='secret'
SITE_ID=3
IS_LOCAL=1
AUTH_TOKEN='token'
DEV_AUTH_TOKEN='token'
NGROK_AUTHTOKEN='your_ngrok_authtoken_here'

DATAMAILER_URL='https://datamailer.dtcdev.click'
DATAMAILER_API_KEY='token'
DATAMAILER_CLIENT='dtc-courses'
DATAMAILER_AUDIENCE='dtc-courses'
DATAMAILER_HOMEWORK_CONFIRMATION_TEMPLATE='homework-submission-confirmation'
DATAMAILER_STRICT=0
DATAMAILER_SYNC_ON_USER_CREATE=1

# Observability
# Local default: OBSERVABILITY_EVENT_BACKENDS=log.
# Deployed AWS environments should use OBSERVABILITY_EVENT_BACKENDS=cloudwatch.
OBSERVABILITY_ENVIRONMENT=local
OBSERVABILITY_EVENT_BACKENDS=log
CLOUDWATCH_APP_METRIC_NAMESPACE='CourseManagement/App'
