DB_PASSWORD='password'
DJANGO_SECRET='secret'
SITE_ID=3
IS_LOCAL=1
AUTH_TOKEN='token'
DEV_AUTH_TOKEN='token'
NGROK_AUTHTOKEN='your_ngrok_authtoken_here'

DATAMAILER_URL='https://datamailer.dtcdev.click'
DATAMAILER_API_KEY='token'
DATAMAILER_CLIENT='dtc-courses'
DATAMAILER_AUDIENCE='dtc-courses'
DATAMAILER_HOMEWORK_CONFIRMATION_TEMPLATE='homework-submission-confirmation'
DATAMAILER_STRICT=0
DATAMAILER_SYNC_ON_USER_CREATE=1

# Observability
# Local default: OBSERVABILITY_EVENT_BACKENDS=log
# To send product/audit events to PostHog, set POSTHOG_API_KEY and leave
# OBSERVABILITY_EVENT_BACKENDS empty or set it to "log,posthog".
OBSERVABILITY_ENVIRONMENT=local
OBSERVABILITY_EVENT_BACKENDS=log
SENTRY_DSN=''
SENTRY_TRACES_SAMPLE_RATE=0
SENTRY_PROFILES_SAMPLE_RATE=0
SENTRY_SEND_DEFAULT_PII=0
POSTHOG_API_KEY=''
POSTHOG_HOST='https://us.i.posthog.com'
POSTHOG_STRICT=0
HEALTHCHECKS_DATAMAILER_HEALTH_URL=''
