DB_PASSWORD='password'
DJANGO_SECRET='secret'
SITE_ID=3
IS_LOCAL=1
AUTH_TOKEN='token'
DEV_AUTH_TOKEN='token'
NGROK_AUTHTOKEN='your_ngrok_authtoken_here'

DATAMAILER_URL='https://datamailer.dtcdev.click'
DATAMAILER_API_KEY='token'
DATAMAILER_CLIENT='dtc-courses'
DATAMAILER_AUDIENCE='dtc-courses'
DATAMAILER_HOMEWORK_CONFIRMATION_TEMPLATE='homework-submission-confirmation'
DATAMAILER_STRICT=0
DATAMAILER_SYNC_ON_USER_CREATE=1
