[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = {extras = ["slack"], version = "*"}
requests = "*"
pyjwt = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-json-logger = "*"
django-unfold = "*"
django-loginas = "*"

[dev-packages]
ipython = "*"
pytest-django = "*"
notebook = "*"
pandas = "*"
tqdm = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
