{% if learning_in_public_cap > 0 %}
  <div id="learning-in-public-links-container" class="mb-3 question">
    <label for="learning_in_public_links[]" class="question-text">
      Learning in public links <span class="text-muted">(optional)</span>
      <i
          class="fas fa-question-circle text-muted"
          data-toggle="tooltip"
          data-placement="top"
          title="Links to social media posts where you share your progress (LinkedIn, Twitter, etc). {% if course.social_media_hashtag %} Use {{ course.social_media_hashtag }} tag.{% endif %} The scores are capped at {{ learning_in_public_cap }} point.">
      </i>
    </label>

    <div id="learning-in-public-links">
      {% for link in learning_in_public_links %}
        <input type="url" class="form-control" name="learning_in_public_links[]" value="{{ link }}" {% if disabled %} disabled {% endif %}>
      {% endfor %}
      {% if learning_in_public_links|length < learning_in_public_cap and not disabled %}
        <input type="url" class="form-control" name="learning_in_public_links[]" {% if disabled %} disabled {% endif %}>
      {% endif %}
    </div>

    {% if accepting_submissions and not disabled %}
      <button type="button" id="add-learning-public-link" class="btn btn-outline-secondary mt-2">
        Add Link
      </button>
    {% endif %}
  </div>

  <script>
    global_learning_in_public_cap = {{ learning_in_public_cap }};
  </script>
{% endif %}


