{% extends 'base.html' %}
{% load tz %}

{% block breadcrumbs %}
  <li><a href="{% url 'course' course.slug %}">{{ course.title }}</a></li>
{% endblock %}

{% block content %}
<h2>{{ course.title }}</h2>

<div>
  <p>{{ course.description }}</p>
</div>

<div>
  <p>
    {% if course.first_homework_scored %}
      <a class="btn btn-primary" href="{% url 'leaderboard' course.slug %}" role="button">Course leaderboard</a>
    {% endif %}
    {% if is_authenticated %}
      <a class="btn btn-info" href="{% url 'enrollment' course.slug %}" role="button">Edit course profile</a>
    {% endif %}
  </p>  
</div>


{% if is_authenticated %}
<div class="alert alert-info" role="alert">
  <p>Total score: {{ total_score }}</p>
</div>
{% endif %}

<div class="pb-3">
<h2>Homework</h2>

{% for hw in homeworks %}
  <div class="p-2 {% cycle 'bg-white' '' %}">
    <div class="row align-items-center">
      <div class="col-5">
        <a href="{% url 'homework' course.slug hw.slug %}">
          {{ hw.title }}
        </a>
      </div>
      <div class="col-4 text-md-right" data-toggle="tooltip" data-placement="right" title="{{ hw.days_until_due }} days left">
        <span class="local-date">{{ hw.due_date | date:"c" }}</span>
      </div>
      <div class="col-3 text-md-right">
        {% if hw.is_scored and hw.submitted %}
          <span class="badge bg-success">Scored ({{ hw.score }})</span>
        {% elif hw.is_scored %}
          <span class="badge bg-secondary">Closed</span>
        {% elif not hw.is_scored and hw.submitted %}
          <span class="badge bg-info">Submitted</span>
        {% else %}
          <span class="badge bg-warning">Open</span>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pb-3">
  <h2>Projects</h2>
  {% for project in projects %}
  <div class="p-2 {% cycle 'bg-white' '' %}">
    <div class="row align-items-center">
      <div class="col-5">
        {% if project.state == 'CS' %}
          <a href="{% url 'project' course_slug=course.slug project_slug=project.slug %}">
            {{ project.title }}
          </a>
        {% elif project.state == 'PR' %}
          <a href="{% url 'projects_eval' course.slug project.slug %}">
            {{ project.title }}
          </a>
        {% elif project.state == 'CO' %}
          <a href="{% url 'project_results' course.slug project.slug %}">
            {{ project.title }}
          </a>
        {% else %}
          {{ project.title }}
        {% endif %}
      </div>
      <div class="col-4 text-md-right" data-toggle="tooltip" data-placement="right" title="{{ project.days_until_due }} days left">
        {% if project.state == 'CS' %}
          <span class="local-date">{{ project.submission_due_date | date:"c" }}</span>
        {% else %}
          <span class="local-date">{{ project.peer_review_due_date | date:"c" }}</span>
        {% endif %}
      </div>
      <div class="col-3 text-md-right">
        <span class="badge {{ project.status_badge_class }}">{{ project.get_project_state_name }}</span>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="alert alert-secondary" role="alert">
    No projects available yet.
  </div>
  {% endfor %}
</div>

<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
