{% extends 'base.html' %}

{% load tz %}
{% load custom_filters %}

{% block breadcrumbs %}
  <li><a href="{% url 'course' course.slug %}">{{ course.title }}</a></li>
{% endblock %}

{% block content %}
<h2>{{ course.title }}</h2>

<div>
  <p>{{ course.description | urlize_target_blank }}</p>
</div>

<div>
  <p>
    {% if course.first_homework_scored %}
      <a class="btn btn-primary" href="{% url 'leaderboard' course.slug %}" role="button">Course leaderboard</a>
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'dashboard' course.slug %}" role="button">Course dashboard</a>
    {% if is_authenticated %}
      <a class="btn btn-info" href="{% url 'enrollment' course.slug %}" role="button">Edit course profile</a>
    {% endif %}
  </p>  
</div>


{% if is_authenticated and course.first_homework_scored %}
<div class="alert alert-info" role="alert">
  <p>Total score: {{ total_score }}</p>
</div>
{% endif %}

{% if homeworks %}
<div class="pb-3">
  <h2>Homework</h2>

  {% for hw in homeworks %}
  <div class="p-2 {% cycle 'bg-white' '' %}">
    <div class="row align-items-center">
      <div class="col-5">
        {% if hw.state == 'CL' %}
          {{ hw.title }}
        {% else %}
          <a href="{% url 'homework' course.slug hw.slug %}">
            {{ hw.title }}
          </a>
        {% endif %}
      </div>
      <div class="col-4 text-md-right" data-toggle="tooltip" data-placement="right" title="{{ hw.days_until_due }} days left">
        <span class="local-date">{{ hw.due_date | date:"c" }}</span>
      </div>
      <div class="col-3 text-md-right">
        {% if hw.state == 'CL' %}
          <span class="badge bg-secondary">Closed</span>
        {% elif hw.is_scored and hw.submitted %}
          <span class="badge bg-success">Scored ({{ hw.score }})</span>
        {% elif hw.is_scored %}
          <span class="badge bg-secondary">Scored</span>
        {% elif not hw.is_scored and hw.submitted %}
          <span class="badge bg-info">Submitted</span>
        {% else %}
          <span class="badge bg-warning">Open</span>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if projects %}
<div class="pb-3">
  <h2>Projects</h2>
  {% for project in projects %}
  <div class="p-2 {% cycle 'bg-white' '' %}">
    <div class="row align-items-center">
      <div class="col-5">
        {% if project.state == 'CS' %}
          <a href="{% url 'project' course_slug=course.slug project_slug=project.slug %}">
            {{ project.title }}
          </a>
        {% elif project.state == 'PR' %}
          <a href="{% url 'projects_eval' course.slug project.slug %}">
            {{ project.title }}
          </a>
        {% elif project.state == 'CO' %}
          <a href="{% url 'project_results' course.slug project.slug %}">
            {{ project.title }}
          </a>
        {% else %}
          {{ project.title }}
        {% endif %}
      </div>
      {% if project.state == 'CS' or project.state == 'CL' %}
        <div class="col-4 text-md-right" data-toggle="tooltip" data-placement="right" title="{{ project.days_until_submission_due }} days left to submit your project">
          <span class="local-date">{{ project.submission_due_date | date:"c" }}</span>
        </div>
      {% elif project.state == 'PR' %}
        {% if project.submitted %}
          <div class="col-4 text-md-right" data-toggle="tooltip" data-placement="right" title="{{ project.days_until_pr_due }} days left to review your peers">
            <span class="local-date">{{ project.peer_review_due_date | date:"c" }}</span>
          </div>
        {% else %}
          <div class="col-4 text-md-right" data-toggle="tooltip" data-placement="right" title="{{ project.days_until_submission_due }} days left to submit your project">
            <span class="local-date">{{ project.submission_due_date | date:"c" }}</span>
          </div>
        {% endif %}
      {% elif project.state == 'CO' %}
        <div class="col-4 text-md-right" data-toggle="tooltip" data-placement="right" title="Project is completed">
          <span class="local-date">{{ project.peer_review_due_date | date:"c" }}</span>
        </div>
      {% else %}
        <div class="col-4 text-md-right" data-toggle="tooltip" data-placement="right" title="{{ project.days_until_submission_due }} days left to submit your project">
          <span class="local-date">{{ project.submission_due_date | date:"c" }}</span>
        </div>
      {% endif %}
      <div class="col-3 text-md-right">
        <span class="badge {{ project.badge_css_class }}">{{ project.badge_state_name }}</span>
      </div>
    </div>
  </div>
  {% endfor %}
  
  {% if has_completed_projects %}
    <div class="text-center mb-2">
      <a href="{% url 'list_all_project_submissions' course.slug %}"
          class="btn btn-secondary mt-3">
        See all submitted projects
      </a>
    </div>
  {% endif %}
</div>
{% endif %}

{% if not homeworks and not projects %}
<div class="alert alert-info" role="alert">
  <p>There are no homeworks or projects available for this course yet. Come back later.</p>
</div>
{% endif %}

<div class="mt-2">All deadlines are in your local timezone</div>

<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

{% endblock %}