{% extends 'base.html' %}

{% block breadcrumbs %}
  <li><a href="{% url 'course_detail' course.slug %}">{{ course.title }}</a></li>
{% endblock %}

{% block content %}
<h2>{{ course.title }}</h2>
<p>{{ course.description }}</p>

<p>
  <a href="{% url 'leaderboard' course.slug %}">Course leaderboard</a>
</p>

{% if is_authenticated %}
<p>
  <a href="{% url 'enrollment_detail' course.slug %}">Edit course profile</a>
</p>

<p>Total score: {{ total_score }}</p>
{% endif %}

<h2>Homework</h2>

{% for hw in homeworks %}
  <div>
    <h3>
      <a href="{% url 'homework_detail' course.slug hw.slug %}">
        {{ hw.title }}
      </a>
    </h3>

    <!-- Due date and days until deadline -->
    {% if not hw.is_scored %}
      <p>Due date: {{ hw.due_date }}</p>
        {% if hw.days_until_due > 0 %}
        <p>Days until deadline: {{ hw.days_until_due }}</p>
      {% else %}
        <p>Deadline has passed.</p>
      {% endif %}
    {% endif %}

    <!-- Submission status -->
    {% if hw.is_scored and hw.submitted %}
      <p>Status: Scored (score: {{ hw.score }})</p>
    {% elif hw.is_scored and not hw.submitted %}
      <p>Status: Due date over (closed)</p>
    {% elif not hw.is_scored and hw.submitted %}
      <p>Status: Submitted at {{ hw.submitted_at|date:"F d, Y H:i" }}</p>
    {% else %}
      <p>Status: Not submitted yet</p>
    {% endif %}
  </div>
{% endfor %}

<h2>Projects</h2>
  {% for project in projects %}
    <div>
      <a href="{% url 'project_view' course_slug=course.slug project_slug=project.slug %}">
        {{ project.name }}
      </a>
      <p>Due Date: {{ project.submission_due_date }}</p>
      <p>Peer Review Due Date: {{ project.peer_review_due_date }}</p>
    </div>
  {% empty %}
    <div>
      No projects available yet.
    </div>
  {% endfor %}

{% endblock %}