{% extends 'base.html' %}

{% load static %}

{% block breadcrumbs %}
  <li><a href="{% url 'course' course.slug %}">{{ course.title }}</a></li>
  <li><a href="{% url 'project' course_slug=course.slug project_slug=project.slug %}">{{ project.title }}</a></li>
{% endblock %}

{% block content %}


<h2 class="mb-3 text-center">Projects of {{ project.title }}</h2>



{% for submission in submissions %}
<div class="row py-2 border-bottom align-items-center {% cycle 'bg-white' 'bg-light' %}">
    Name: {{ submission.enrollment.display_name }} <br/>
    GitHub Link: <a href="{{ submission.github_link }}" target="_blank">{{ submission.github_link }}</a> <br/>
    {% if is_authenticated %}
        To evaluate:
        {% if submission.to_evaluate %}
            <a href="{% url 'projects_eval_submit' course_slug=course.slug project_slug=project.slug review_id=submission.review.id %}">
                evaluate (<span class="badge badge-primary badge-pill">{{ submission.review.get_state_display }}</span>)
            </a> 
        {% else %}
            <a href="{% url 'projects_eval_add' course_slug=course.slug project_slug=project.slug submission_id=submission.id %}">
                add to evaluation
            </a>
        {% endif %}
    {% endif %}
</div>
<div>&nbsp;</div>
{% endfor %}

{% endblock %}