{% extends 'base.html' %}

{% load static %}

{% block breadcrumbs %}
  <li><a href="{% url 'course' course.slug %}">{{ course.title }}</a></li>
{% endblock %}

{% block content %}

<h2 class="mb-3 text-center">{{ project.title }} for <a href="{% url 'course' course.slug %}">{{ course.title }}</a></h2>

{% if messages %}
  {% for message in messages %}
    <div class="alert {{ message.tags }}">
      <p>{{ message }}</p>
    </div>
  {% endfor %}
{% endif %}

{% if errors %}
  {% for error in errors %}
    <div class="alert alert-danger">
      <p>{{ error }}</p>
    </div>
  {% endfor %}
{% endif %}

{% if disabled %}
  {% if submission %}
    {% if project.state == 'PR' %}
      <div class="alert alert-warning">
        <p>The project is currently in the peer-reviewing phase.
          <a href="{% url 'projects_eval' course.slug project.slug %}">Evaluate your peers here.</a> 
          This form is no longer accepting modifications.
        </p>
      </div>
    {% endif %}
  {% else %}
    {% if is_authenticated %}
      <div class="alert alert-warning">
        <p>You didn't submit your project and this form is no longer accepting new submissions.</p>
      </div>
    {% else %}
      <div class="alert alert-warning">
        <p>
          <a href="{% url 'login' %}">Log in</a> to see the status of your submission.
        </p>
      </div>
    {% endif %}
  {% endif %}
{% endif %}

<p class="text-muted">{{ project.description }}</p>

<h3 class="mb-3">Project submission</h3>

<form method="post" id="project-form" class="needs-validation" novalidate>
  {% if is_authenticated %}
    {% csrf_token %}
  {% endif %}

  <div class="mb-3 question">
    <label for="github_link">
      GitHub link to the project
      <i
        class="fas fa-question-circle text-muted"
        data-toggle="tooltip"
        data-placement="top"
        title="Your project should be hosted on GitHub. Make sure your project is public">
      </i>
    </label>
    <input
      type="url"
      class="form-control"
      id="github_link"
      name="github_link"
      value="{{ submission.github_link|default:'' }}"
      required
      {% if disabled %} disabled {% endif %}
    />
  </div>

  <div class="mb-3 question">
    <label for="commit_id">
      Commit ID
      <i
        class="fas fa-question-circle text-muted"
        data-toggle="tooltip"
        data-placement="top"
        title="The commit id of your latest commit in the project. It should be a 7-character hex string">
      </i>
    </label>
    <img
      class="question-image"
      src="https://habrastorage.org/webt/kt/w0/-1/ktw0-1oe_azrkwrd4lnpod2mzuq.png"
      alt="Commit Screenshot"
    />
    <input
      type="text" 
      id="commit_id"
      class="form-control"
      name="commit_id"
      value="{{ submission.commit_id|default:'' }}"
      required
      {% if disabled %} disabled {% endif %}
    />
  </div>

  {% include 'include/learning_in_public_links.html' with course=course learning_in_public_cap=project.learning_in_public_cap_project learning_in_public_links=submission.learning_in_public_links disabled=disabled accepting_submissions=accepting_submissions %}
  <script src="{% static 'learning_in_public.js' %}"></script>

  {% if project.time_spent_project_field %}
    <div class="mb-3 question">
      <label for="time_spent" class="question-text">
        Time spent on project (hours)
        <i
          class="fas fa-question-circle text-muted"
          data-toggle="tooltip"
          data-placement="top"
          title="How much time (in hours) did you spend to work on the project?">
        </i>
      </label>
      <input
        type="number"
        class="form-control"
        name="time_spent"
        id="time_spent"
        min="0"
        value="{{ submission.time_spent|default:'' }}"
        {% if disabled %} disabled {% endif %}
      />
    </div>
  {% endif %}

  {% if course.faq_document_url and project.faq_contribution_field %}
    <div class="mb-3 question">
      <label for="faq_contribution" class="question-text">
        FAQ contribution <span class="text-muted">(<a href="{{ course.faq_document_url }}" target="_blank">FAQ document</a>)</span>
        <i
          class="fas fa-question-circle text-muted"
          data-toggle="tooltip"
          data-placement="top"
          title="If you had any problems and resolved it, or helped somebody in Slack, please put the solution to the FAQ. What is the problem you put in FAQ?">
        </i>
      </label>
      <textarea
        class="form-control"
        name="faq_contribution"
        id="faq_contribution"
        {% if disabled %} disabled {% endif %}
      >{{ submission.faq_contribution|default:'' }}</textarea>
    </div>
  {% endif %}

  {% if accepting_submissions and ceritificate_name %}
    <div class="mt-4">
      Name on your certificate: {{ ceritificate_name }}
      (<a href="{% url 'enrollment' course.slug %}" target="_blank">Change</a>)
    </div>
  {% endif %}

  {% if accepting_submissions %}
    <div class="mt-4 text-center">
      {% if is_authenticated %}
        {% if not submission %}
          <button
            id="submit-button"
            type="submit"
            class="btn btn-primary">
              Submit
          </button>
        {% else %}
          <button
            id="submit-button"
            type="submit"
            class="btn btn-primary">
              Update
          </button>
          <button
            id="delete-button"
            type="button"
            class="btn btn-danger">
              Remove
          </button>
        {% endif %}
      {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to submit your project.</p>
      {% endif %}
    </div>
  {% endif %}
</form>

{% if submission %}
  <p class="text-muted question-text m-0 mt-4">
    Last submission at: {{ submission.submitted_at|date:"F d, Y H:i" }}
  </p>
{% endif %}

<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  });

  $(document).ready(function() {
    const $form = $('#project-form');
    const $updateButton = $('#update-button');
    const $deleteButton = $('#delete-button');

    $updateButton.on('click', function(e) {
      e.preventDefault();
      $form.submit();
    });

    $deleteButton.on('click', function(e) {
      e.preventDefault();
      if (confirm('Are you sure you want to delete your project submission?')) {
        $('<input>').attr({
          type: 'hidden',
          name: 'action',
          value: 'delete'
        }).appendTo($form);

        $form.submit();
      }
    });
  });
</script>

<script src="{% static 'homework.js' %}"></script>
{% endblock %}