{% if email_campaign.status == "queued" %}
  <span class="app-badge app-badge-success">{{ email_campaign.get_status_display }}</span>
{% elif email_campaign.status == "synced" %}
  <span class="app-badge app-badge-info">{{ email_campaign.get_status_display }}</span>
{% elif email_campaign.status == "cancelled" %}
  <span class="app-badge app-badge-danger">{{ email_campaign.get_status_display }}</span>
{% else %}
  <span class="app-badge app-badge-neutral">{{ email_campaign.get_status_display }}</span>
{% endif %}
