{% extends 'base.html' %}

{% block content %}
{% if messages %}
<div class="messages">
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</div>
{% endif %}

{% block cadmin_content %}
{% endblock %}
{% endblock %}
