.form-container {
  max-width: 720px; 
  margin: 20px auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 0px 20px;
}

.form-container .question {
  padding-top: 1rem;
}

.form-container .question .question-text {
  margin-bottom: 0.5rem;
}

/* Questions */
.form-check-label {
  display: block;
  color: #5f6368;
}

.form-control {
  box-shadow: none; /* Remove Bootstrap's default shadow */
  border-color: #e0e0e0; /* Light grey border color */
  border-radius: 8px; /* Rounded corners */
}

/* Focused Inputs */
.form-control:focus {
  border-color: #a6c8ff; /* Highlight color when focused */
  box-shadow: 0 0 0 0.2rem rgba(102, 175, 233, .25);
}

/* Buttons */
.btn-primary {
  background-color: #1a73e8; /* Google's blue */
  border-color: #1a73e8; /* Google's blue */
  box-shadow: none; /* Remove Bootstrap's default shadow */
}

.btn-primary:hover {
  background-color: #1669c7; /* Darker blue on hover */
  border-color: #1669c7; /* Darker blue on hover */
}

/* Adjustments for smaller screens */
@media (max-width: 576px) {
  .form-container {
    max-width: 100%;
    padding: 15px 15px 0px 15px; /* Smaller padding on smaller screens */
  }
}

.text-muted a, .text-muted a:visited, .text-muted a:hover, .text-muted a:focus, .text-muted a:active {
  color: inherit; /* This makes the link use the color of the parent .text-muted class */
}